@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-customGray bg-gradient-to-r;
  }
}

/*custom classNames*/
@layer components {
  .formInput {
    @apply h-11 w-full flex-shrink-0 rounded-md border border-stone-100 bg-white p-3 text-xs placeholder:text-gray-300 focus:outline-yellow-500;
  }

  .inputLabel {
    @apply mb-2 block text-xs font-normal text-gray-600;
  }
}
