@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-gradient-to-r bg-customGray;
  }
}

/*custom classNames*/
@layer components {
  .formInput {
    @apply w-full flex-shrink-0 rounded-md border border-stone-100 bg-white focus:outline-yellow-500 text-xs p-3 h-11 placeholder:text-gray-300;
  }

  .inputLabel {
    @apply block text-gray-600 text-xs font-normal mb-2;
  }
}